body{
    background: #f2f2f2;
    font-family: "Rubik", sans-serif;
}

header .nav{
    min-height: 80px;
    overflow: hidden;
    background: #fde7f1;
}

header .logo h2,
header .logo p {
    font-size: 26px;
    display: inline-block;
}

header .logo .icono{
    color: #acabab;
}

header .logo svg{
    width: 20px;
    height: 0px;
}

header .logo p {
    color: #777777;
}

header .menu .c1 { background:#f88bc1 ;}
header .menu .c2 { background:#f644de ;}
header .menu .c3 { background:#ad29b4 ;}

header .menu .c1:hover { background:#f57bb8 ;}
header .menu .c2:hover { background:#ca238a ;}
header .menu .c3:hover { background:#8215a6 ;}

header .menu a{
    text-decoration: none;
    text-align: center;
    color: rgb(172, 167, 167);
}

/*Portafolio*/
.portafolio{
    border-top: 5px solid #ff00d0;
    background: #fff;
}

.portafolio .titulo{
    color:#ff00d0;
    font-size: "Rubik", sans-serif;
    font-weight: 400;
}

.portafolio .galeria .container-imagen{
    max-height: 180px;
    overflow: hidden;

}

.portafolio .galeria .container-imagen a{
    background: #ff00d0;
    display: inline-block;
}

.portafolio .galeria .container-imagen:hover img{
    opacity: .3;
}

/*Ventana modal*/
.modal-dialog{
    max-width: 1000px ;
}

/*Acerca de */
.acerca-de .foto .nombre{
    font-weight: 300;
    letter-spacing: 2px;

}

.acerca-de .info .titulo{
    color: #fa058c;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 30px;
}

.acerca-de .info .resumen{
     letter-spacing: 1px;
}

.acerca-de .info .label{
    font-size: 18px;
    font-weight: 600;
    color: #005385;
    margin-bottom: 10px;
}

.acerca-de .info .progress{
    background: #005385;
    border-radius: 1;
    height: 25px;
}

.acerca-de .info .progress .progress-bar{
    background: #3da5e2;
    line-height: 25px;
    padding-left: 20px;
}

/*Acerca de*/
.contacto{
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.contacto .titulo{
    color: #003855;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.contacto .formulario input[type="text"]
.contacto .formulario input[type="email"]
.contacto .formulario textarea{
    padding: 15px;
    border: none;
    font-family: "Rubik", sans-serif;
}

.contacto .formulario textarea{
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.contacto .formulario .boton{
    background: #3da5e2;
    border: none;
    padding:  7px 30px;
    color: #fff;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.contacto .formulario .boton:hover{
    background: #1ba0ef;
}

/*footer*/
.redes-sociales {
    padding: 40px 0;
    margin-bottom: 40px;
}
.redes-sociales .icono{
    width: 100px;
    height: 100px;
    color: #fff;
    background: #cbcbcb;
    display: inline-block;
    margin: 0px 20px;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s;
}

.redes-sociales .icono svg{
    width: 40px;
    height: 40px;
}

.redes-sociales .twitter{background: #1da1f2;}
.redes-sociales .instagram{background: #833ab4;}
.redes-sociales .facebook{background: #3b5998;}