h1 {
  text-align: center;
  margin-top: 20px;
  color: #4CAF50;
}

h2.titulo {
  font-weight: bold;
  color: #2C3E50;
}

.galeria img {
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 5px solid #ddd; /* Borde alrededor de las imágenes */
}

.galeria img:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5); /* Sombra más fuerte */
  border-color: #4CAF50; /* Cambio de color del borde al pasar el ratón */
}

.container-imagen {
  padding: 10px;
}

/* Centrar las imágenes más grandes para darles mayor protagonismo */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mejorar la distribución de las imágenes en la galería */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para el botón de regresar */
.btn-regresar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  width: 150px;
  transition: background-color 0.3s ease;
}

.btn-regresar:hover {
  background-color: #45a049;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}